html, body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100%; /* Ensure the entire viewport height is used */
    overflow-x: hidden;
    margin: 0; /* Remove any default margin for better alignment */

}


.dflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page {
    @extend .dflex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: #d1190d;
}

.join-us {
    @extend .dflex;
    flex-direction: column;
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 30px;
}
h1 {
    color:#fff;
    font-size: 19px;
    font-weight: 200;
}

.hawkhack {
    font-size: 60px;
    font-weight: 700;
}

.button {
    @extend .dflex;
    width: 45%;
    height: 15%;
    background: #333333;
    border-radius: 60px;
    cursor: pointer;
    margin-top: 30px;
    padding: 10px;
    border: none;
}

.apply {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.count-down {
    @extend .dflex;
    width: 50%;
    height: 100vh;
    position: relative;
}

.date {
    @extend .dflex;
    position:absolute;
    top: 15%;
    right: -20px;
    background-color: #fff;
    width:300px;
    height:50px;
    border-radius:15px;

}

.date-text {
    font-size: 25px;
    padding-right: 20px;
    font-weight: 700;
    color: #d1190d;
}

section {
    scroll-snap-align: start;
    height: 100vh;
}

#faq {
    scroll-snap-align: auto;
    height: 100vh;
}

#team{
    scroll-snap-align: auto;
    overflow-y: auto;
}

@media (max-width:1150px){
    .home-page {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .join-us {
        width: 100%;
        height: 30%;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        text-align: center;
        gap: 20px;
    }


    .count-down{
        width: 100%;
        height: 30%;
        margin-top: 20px;
    }
    
    .hawkhack {
        font-size: 40px;
    }
    .button {
        width: 50%;
        padding: 12px;
    }

    .apply {
        font-size: 16px;
    }

    .date {
        width: 90%;
        right: unset;
    }
    .timer {
        margin-top: 40%;
    }


}