
.dflex {
    display: flex;
    align-items: center;
}

.header-container {
    @extend .dflex;
    background-color: #333333;
    position: fixed;
    width: 100%;
    height: 10%;
    top: 0;
    left: 0;
    padding: 0 50px;
    z-index: 2;
    justify-content: space-between;

    .logo {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            height: 90%;
        }
    }

    .link-container {
        @extend .dflex;
        align-items: flex-start;
    }

    .link-container a {
        font-weight: 500;
        margin-left: 20px;
        font-size: 20px;
        text-decoration: none; 
        position: relative;
        color: #fff;
    }

    .link-container a::before {
        top: 100%;
        left: 0;
        content:'';
        width: 0%;
        position: absolute;
        height: 2px;
        background: white;
        transition: 0.3s;
    }

    .link-container a:hover::before {
        width: 100%;
    }
}

// Mobile Sizing

@media (max-width:768px){
    .link-container a{
        display: none;
    }

    .header-container {
        justify-content: space-between;
    }

    

    .menu{
        width: 58px;
        background: transparent;
        height: 58px;
        display: flex;
        align-items: center;
        cursor: pointer;
        color: #fff ;
        font-size: 2.5rem;
    }
    .menu-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #d1190d;
        color: #fff;    
        flex-direction: column;
        z-index: 10;

        .motion-a{ 
            display: inline-flex;
            color: #fff;
            text-decoration: none;
            height: 80px;
            overflow: hidden;
            font-size: 24px;
            text-transform: uppercase;
            margin-top: 50px;

        }
        .motion-a:hover {
            color: #333333;
            cursor: pointer;
        }

        +.motion-a {
            margin-top: 0;

        }

        .btn-close {
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: center;
            width: 45px;
            height: 45px;
            border: 2px solid #fff;
            border-radius: 58px;
            top:20px;
            right: 20px;
            z-index: 15;
            position: absolute;
            cursor: pointer;
        }
    }
}

@media (min-width:769px){
    .menu {
        display: none;
    }
    .menu-container {
        display: none;
    }
}