.faq {
    height: 100vh;
    width: 100%;
    background: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question-container {
    display: flex;
    flex-direction: column;
    gap:20px;
    background: transparent;
    width: 75%;
    max-width: 1400px;
    padding: 20px;
    border-radius: 10px;
    overflow-y: auto;
    margin-top: 75px;
    text-align: left;
    min-height: 300px;
    
}

h2 {
    font-size: 2rem;
    text-align: center;
    color:#fff;
}

button {
    background: #d1190d;
    color: #fff;
    border: none;
    border-radius: 15px;
    font-size: 1.25rem;
    width: 100%;
    cursor: pointer;
    text-align: left;
    padding: 10px;
    transition: all 0.3 ease;
    font-weight: 500;
    
}

button:hover {
    color: #d1190d;
    background: #fff;
    text-decoration: underline;
    font-weight:500;
}

.answer {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    margin-left: 10px;
}

.answer a {
    text-decoration: none;
    color:#d1190d;
    font-weight: 500;
}