.faq {
    height: 100vh;
    width: 100%;
    background: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.question-container {
    display: flex;
    flex-direction: column;
    gap:20px;
    background: transparent;
    width: 90%;
    max-width: 1400px;
    padding: 20px;
    border-radius: 10px;
    overflow-y: auto;
    margin-top: 75px;
    text-align: left;
    min-height: 300px;
    
}

h2 {
    font-size: 2rem;
    text-align: center;
    color:#fff;
}

button {
    background: #d1190d;
    color: #fff;
    border: none;
    border-radius: 15px;
    font-size: 1.25rem;
    width: 100%;
    cursor: pointer;
    text-align: left;
    padding: 10px;
    transition: all 0.3 ease;
    font-weight: 500;
    
}

button:hover {
    color: #d1190d;
    background: #fff;
    text-decoration: underline;
    font-weight:500;
}

.answer {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    margin-left: 10px;
    line-height: 1.5;
}

.answer a {
    text-decoration: none;
    color:#d1190d;
    font-weight: 500;
}

@media (max-width: 768px) {
    h2 {
        font-size: 1.8rem; /* Slightly smaller font size for tablets */
    }

    button {
        font-size: 1.1rem; /* Reduce font size for buttons */
        padding: 12px; /* Adjust padding */
    }

    .answer {
        font-size: 0.95rem; /* Adjust text size for answers */
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.6rem; /* Adjust heading for small screens */
    }

    button {
        font-size: 1rem; /* Smaller button font for narrow screens */
        padding: 10px;
    }

    .question-container {
        width: 100%; /* Utilize full screen width */
        padding: 15px; /* Reduce padding */
    }

    .answer {
        font-size: 0.9rem; /* Smaller text for answers */
    }
}