html, body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100%; /* Ensure the entire viewport height is used */
    margin: 0; /* Remove any default margin for better alignment */

}


.dflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page {
    @extend .dflex;
    height: 100vh;
    background-color: #333333
}

.join-us {
    @extend .dflex;
    flex-direction: column;
    align-items: left;
}
h1 {
    color:#fff;
    font-size: 20px;
}

.hawkhack {
    font-size: 60px;
}